# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite

# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.userprefs
project.lock.json
project.fragment.lock.json
artifacts/
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.vs/
*.suo
*.user
TestResult.xml
nunit-*.xml
*.coverage
*.coveragexml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets